.App{
  width: 100vw;
  height: 100vh;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#board{
  background-color: rgba(34, 34, 34, 0.562);
  border-radius: 20px;
}
#controls{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}